﻿  @{
      ViewBag.Title = "Posts";
}  


<h1> Posts Index</h1>

        <p>
            <a href="@Url.RouteUrl("login")"> Click here to login!</a> 
        </p>

        <p>
            @Html.RouteLink("Click here", "login") to login!
        </p>
