﻿@model BLOGTEST.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>

    <div>
      <input type="submit" value="Login" />
    </div>
}




<p>  THIS IS THE LOGIN</p>

<form methode="POST">

    <input type="text" name="Username" />
    <input type="password" name="Password" />
    <input type="submit" value="Login" />

</form>