﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title - SimpleBlog </title>
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("home")">Simple Blog</a>
        </h1>

           @if (User.Identity.IsAuthenticated)
           { 
               <p>Welcome back, @User.Identity.Name</p>
               <a href="@Url.RouteUrl("logout")">Logout</a>

                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("index", "Posts", new{area="admin"})">View posts in admin</a>
                }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }

    </header>

    @RenderBody()

    <footer>
        &copy; @DateTime.UtcNow.Year - Me
    </footer>
    @RenderSection("Scripts",false)

</body>
</html>
